@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* LOGIN SCREEN */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 450px;
  background-color: #fff;
  padding: 30px 30px 60px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.switch {
  display: flex;
}

.item {
  flex: auto;
  justify-content: space-between;
}

.tezzaImg {
  width: 100px;
  margin-right: -70px;
}

@media only screen and (max-width: 1024px) {
  .tezzaImg {
    margin-right: -30px;
  }
}

h6 {
  color: #000000;
  margin-bottom: 20px;
  text-align: left !important;
  font-size: 16px;
  font-family: "Inter";
  font-weight: bold;
}

.p-login {
  color: #000000;
  margin-bottom: 50px;
  text-align: left;
  font-size: 14px;
  font-family: "Inter";
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 600;
}

input {
  padding: 17px;
  margin-bottom: 25px;
  border: 1px solid #000;
}

.space_indicate {
  margin-bottom: 25px;
}

.button {
  padding: 17px 150px;
  background-color: #ddaa33;
  color: #fff;
  border: none;
  /* margin-top: 25px; */
  cursor: pointer;
  /* width: 80% !important; */
  text-transform: uppercase;
}

.yellow_bg {
  background-image: url("./assets/images/bgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* SIDEBAR SCREEN */
.ant-layout-sider,
.ant-layout-sider-children,
.ant-layout-sider-trigger,
ul {
  background: #fff !important;
}

.ant-layout-sider {
  flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px !important;
  width: 200px !important;
}

@media only screen and (max-width: 1024px) {
}

.ant-menu-item,
.ant-menu-submenu {
  color: #000000;
  font-family: "Inter" !important;
}

.ant-menu-item-active {
  color: #ddaa33;
}

.ant-layout-sider-collapsed .tezzaLogo {
  width: 40px;
}

.ant-layout-sider-children .tezzaLogo {
  width: 80px;
  margin: 40px 40px 10px 55px;
  cursor: "pointer";
}

.ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 18px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

@media only screen and (max-width: 1024px) {
  .tezzaLogo {
    width: 40px;
    margin-left: 20px;
  }
}

.ant-menu .ant-menu-item {
  /* margin-bottom: 5px; */
  margin-bottom: 10px;
  padding-left: 7px !important;
}

.ant-menu-item:hover {
  background: #fbf6eb !important;
}

.ant-menu-item-selected {
  color: #ddaa33;
  background: #fbf6eb !important;
  border-left: 2px solid #ddaa33;
  border-radius: 1px;
  padding-left: 7px !important;
}

.ant-menu .ant-menu-submenu-title {
  /* margin-bottom: 5px; */
  margin-bottom: 10px;
  padding-left: 7px !important;
}

.ant-menu-submenu:hover {
  background: #fbf6eb !important;
}

.side-icons {

}

.ant-menu-item-icon {
  width: 20px;
  color: #000000;
}

.ant-menu-item .ant-menu-item-icon:hover {
  color: #ddaa33;
}

.ant-menu-root .ant-menu-item-icon:active {
  color: #ddaa33;
}

.ant-menu-title-content {
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter";
  color: #000000;
}

.ant-menu-title-content:hover {
  color: #ddaa33;
}

/* td.ant-table-cell-row-hover {
  background: #fbf6eb !important;
}

td.ant-table-cell-row-hover:first-child {
  border-left: 2px solid #ddaa33;
} */

/* TOPBAR SCREEN */

.topbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__left {
  display: flex;
}

.topbar__left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  letter-spacing: -0.02em;
  margin-bottom: -20px;
}

.topbar__right {
  display: flex;
  margin-right: 30px;
}

.icons__container {
  position: relative;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 4px;
}

.notify {
  right: -15px;
}

.badge {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 12px;
  right: 2px;
  background-color: #dd2747;
  color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Inter";
}

.topbar__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
  margin-top: 7px;
}

.topbar_username {
  margin-right: 20px !important;
  margin-top: -1px !important;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
}

/* CLIENT SCREEN */
.ant-breadcrumb {
  margin: 20px, 35px 0px 20px !important;
}

.h1_welcome {
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter";
  color: #000000;
  margin-top: -20px;
}

.p_welcome {
  color: #808080;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter";
}

.client_content .p-over {
  font-weight: 700;
  font-family: "Open Sans";
  margin-top: 40px;
  margin-bottom: 30px;
}

.card_compartment {
  display: flex;
}

.client_card {
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  width: 40%;
  height: 130px;
  /* padding: 10; */
  background: #fff;
}

.span.A {
  background-color: #ddaa33;
  /* width: 40%; */
  height: 10px;
}

.span.B {
  background-color: #fbf6eb;
  /* width: 40%; */
  height: 40px;
}

.span.B .p-today {
  font-weight: 700;
  font-family: "Inter";
  color: #000000;
}

.span.B p {
  text-align: center;
  font-weight: 700;
  font-family: "Inter";
  color: #989898;
}

.add {
  color: #ddaa33 !important;
}

.client_card.B {
  margin-left: 100px;
  height: 150px;
  width: 35%;
}

/* hr {
} */

.client_card.C {
  width: 40%;
  height: 220px;
}

.span.B span {
  font-weight: 500;
  font-family: "Inter";
  color: #000000;
}

.span.B .p-due {
  text-align: left;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

/* WORKSPACE SCREEN  */
.workspace_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work_input {
  border: 1px solid #efefef;
  outline: none;
  width: 85%;
  padding: 12px 4px 12px 40px;
  background: #fafafa url("./assets/images/searchIcon.png") no-repeat 13px
    center;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2),
    inset 0px 1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}

.work_input::placeholder {
  font-size: 12px;
}

.work_btn {
  border: none;
  background: #ddaa33;
  margin-top: -25px;
  padding: 12px 20px;
  border-radius: 8px;
  color: #fff !important;
  font-family: "Inter";
  font-weight: 500;
}

.ant-pagination {
  display: none !important;
}

.ant-table-thead .ant-table-cell {
  background: #fbf6eb !important;
  font-family: "Inter";
  border-bottom: 5px solid #ddaa33;
}

td.ant-table-cell {
  font-family: "Inter";
  font-size: 14px;
}

td.ant-table-cell-row-hover {
  background: #fbf6eb !important;
}

td.ant-table-cell-row-hover:first-child {
  border-left: 2px solid #ddaa33;
}

/* CLIENTS PROFILE SCREEN */
.p_clientsProfile {
  color: #808080;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter";
  margin-bottom: 50px;
}

.clientProfile_card p {
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
}

.text_info {
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
  color: #898989;
}

.email,
.personal-info {
  margin-top: 10px;
}

.clients_data {
  padding-bottom: 10px;
}

.clients_data span {
  /* margin-bottom: 5px; */
  font-size: 14px;
  font-family: "Inter";
  font-weight: 600;
  color: #898989;
}

.clients_data p {
  /* margin-bottom: 5px; */
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.profile_btn {
  float: right;
  border: none;
  background: #ddaa33;
  margin-top: -25px;
  padding: 12px 30px;
  border-radius: 8px;
  color: #fff !important;
  font-family: "Inter";
  font-weight: 500;
}
